
*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
}

.avatar{
  width: 8rem;
  height: 10rem;
  border-radius: 50%;
  margin: 1rem;
}

.icon {
  color: black;
  /* size: 20rem; */
}

.link{
  /* background: yellow; */
  display: flex;
  flex-wrap: wrap;
  align-items: inherit;
}

.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

.page-container{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

blockquote p{
  font-size: small;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

li {
  list-style: none;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

.nav {
  margin-bottom: 5%;
}

.tab{
  text-decoration: none;
}

.navigation{
  background: black;
}
.navActive {
  color: var(--secondary);
}

.hi{
  background: black;
}

.project:hover{
  background: red;
}

.clear-fix:after {
  display: block;
  clear: both;
  content: "";
}

.img-responsive {
  height: 20rem;
  width: 30rem;
}

.cards-all {
  position: relative;
  display: block;
  background: rgba(10, 10, 10, 0.5);
  overflow: hidden;
}
.cards-all .cards {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  background-position: center;
}
.cards-all .cards--one {
  backface-visiblility: hidden;
}
.cards-all .cards--one:hover:after {
  bottom: -20px;
}
.cards-all .cards--one:hover:before {
  bottom: -10px;
}
.cards-all .cards--one:hover .cards--one__rect {
  left: 45%;
}
.cards-all .cards--one:hover .cards--one__rect--back {
  left: 50%;
}

.cards-all .cards--one:before {
  content: "";
  display: block;
  position: absolute;
  height: 80px;
  transform: rotate(-3deg);
  bottom: -90px;
  left: 0;
  background: #fff;
  right: -10px;
  z-index: 5;
  transition: all 0.2s ease-in;
  transition-delay: 0.1s;
}

.cards-all .cards--one__rect p {
  transform: skewY(-7deg);
  position: relative;
}
.cards-all .cards--two {
  position: relative;
  backface-visibility: hidden;
}
.cards-all .cards--two p {
  position: absolute;
  top: 83%;
  left: -100%;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  z-index: 8;
  transition: all 0.6s ease;
}
.cards-all .cards--two:hover p {
  left: 8%;
}
.cards-all .cards--two:hover img {
  transform: translateY(-15px);
}


.cards-all .cards--two:hover li {
  transform: translateY(0);
}

.cards-all .cards--two:hover .cards--two__tri:before {
  right: -312px;
}
.cards-all .cards--two img {
  transition: all 0.2s ease;
}

.cards-all .cards--two ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 9;
}
.cards-all .cards--two ul li {
  display: inline-block;
  font-size: 16px;
  margin: 7px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  transform: translateY(100px);
}
.cards-all .cards--two ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.cards-all .cards--two ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.cards-all .cards--two ul li:nth-child(4) {
  transition-delay: 0.4s;
}
.cards-all .cards-container {
  position: relative;
  z-index: 10;
}
.cards-all .cards-container:hover .outline {
  left: 10%;
}
.cards-all .cards-container:hover .outline .shadow-1 {
  left: -20%;
}
.cards-all .cards-container:hover .outline-2 {
  left: 60%;
}
.cards-all .cards-container:hover .outline-2:before {
  left: -100%;
}
.cards-all .cards-container:hover .outline-2:after {
  left: 80%;
}
.cards-all .cards-container:hover .outline-2 .shadow-2 {
  left: -10%;
}
.cards-all .cards-container:hover .circle {
  transform: scale(1);
}
.cards-all .cards-container:hover .circle:before {
  transform: scale(0.9);
}
.cards-all .cards-container:hover .cards-list li {
  transform: translateX(0);
}
.cards-all .outline {
  background: #fff;
  width: 200px;
  height: 110px;
  transform: skewX(-20deg);
  display: block;
  position: absolute;
  top: 73%;
  opacity: 0.9;
  left: -100%;
  z-index: 8;
  transition: all 0.5s ease-in;
}
.cards-all p {
  font-size: 20px;
  color: #fff;
  transform: skewX(20deg);
  line-height: 6rem;
}
.cards-all .shadow-1 {
  background: black;
  width: 230px;
  height: 100px;
  display: block;
  position: absolute;
  left: -200%;
  z-index: -1;
  transition: all 0.3s ease-in;
}

.shadow-1{
  color: white;
  font-size: small;
}


.cards-all .circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -15%;
  left: 50%;
  opacity: 0.9;
  transform: scale(0);
  transition: all 0.3s ease;
}
.cards-all .circle:before {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.3s ease;
  transition-delay: 0.2s;
}
.cards-all .cards-list {
  list-style: none;
  position: absolute;
  top: -6%;
  right: 13%;
  padding-top: 60px;
  transition: all 0.4s ease;
}
.cards-all .cards-list li {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 4px;
  color: #fff;
  width: inherit;
  height: 100%;
  text-align: center;
  line-height: 1.7rem;
  font-size: 12px;
  transition: all 0.3s ease;
  transform: translateX(500%);
}


.new-img{
  height: 20rem;
  width: 30rem;
  border: 2px solid black;
  margin: 1rem auto 4rem;
}

.proj-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-project{
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.project-icon1{
  display: flex;
  background: red;
  margin-left: 10%;
}

.project-icon2{
  display: flex;
  /* background: blue; */
  margin-right: 10%;
}

.contact{
  max-width: 50%;
  margin: 5% auto;
}

.resume{
  text-align: center;
  margin: 2% 4%;
}

.resume-icon{
  margin: 2% auto;
  color: black;
}

.icon:hover, .resume-icon:hover{
  color:lightblue;
  font-weight: bold;
  text-decoration: none;
}



/* @media (max-width: 768px) {
  .new-img{
    height: 18rem;
    border: 2px solid black;
    margin: 1rem 0rem 0rem;
    max-width: 100%;
    min-width: 100%;
  }
} */

@media (max-width: 509px) {
  .img-responsive {
    height: 15rem;
    width: 20rem;
    /* height: 20rem; */
  }

  .new-img{
    height: 15rem;
    width: 20rem;
    border: 2px solid black;
    margin: 1rem auto 4rem;
  }
  
}