/* 
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--dark);
  color: var(--light);
  font-family: 'Poiret One', cursive;

}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}


.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.modalBackdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: var(--darker);
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 960px;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

 */

*{
  margin: 0;
  padding: 0;
}

html,
body {
  /* min-height: 100%; */
  height: 100%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  color: var(--light);
  font-family: 'Poiret One', cursive;
}

.icon:hover{
  color:black;
  font-weight: bold;
  text-decoration: none;
}

.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

.page-container{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

blockquote p{
  font-size: small;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

li {
  list-style: none;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

.tab{
  text-decoration: none;
}

.navigation{
  background: black;
}
.navActive {
  color: var(--secondary);
}

.hi{
  background: black;
}

.project:hover{
  background: red;
}

/* .img-wrap {
  position: relative;
  transition: all .3s, ease-in-out;
} */

.img-wrap{
  position: relative;
  display: block;
  /* width: 320px; */
  /* height: 320px; */
  /* background: #000; */
  /* background: url('image.jpg'); */
  /* background-size: cover; */
  margin: 120px auto;
  border-radius: 32px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.img-des {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrap:hover .img-des {
  visibility: visible;
  opacity: 1;
}

.new-img{
  height: 20rem;
  border: 2px solid black;
  margin: 1rem auto 4rem;
}

.proj-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-project{
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.project-icon1{
  display: flex;
  background: red;
  margin-left: 10%;
}

.project-icon2{
  display: flex;
  background: blue;
  margin-right: 10%;
}

.contact{
  max-width: 50%;
  margin: 5% auto;
}

.resume{
  text-align: center;
  margin: 2% 4%;
}

.resume-icon{
  margin: 2% auto;
}


@media (max-width: 768px) {
  .new-img{
    height: 18rem;
    border: 2px solid black;
    margin: 1rem 0rem 0rem;
    max-width: 100%;
    min-width: 100%;
  }
}